<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- h e a d e r -->
        <%- include('./partials/header.ejs') %>

            <!-- d e t a l l e  d e l  p r o d u c t o -->
            <main class="main">
                <div class="navegacion">
                    <ul>
                        <li><a href="/">home</a>
                            <span>></span>
                        </li>
                        <li><a href="/products/categorias/<%= producto.category.name %> ">
                                <%= producto.category.name %>
                            </a> > </li>
                        <li><a href="#">producto</a></li>
                    </ul>
                </div>
                <!-- p r o d u c t o -->
                <div class="contenedora">

                    <h3 class="h3-product">Producto</h3>
                    <!-- M á s    i m a g e n e s    d e l   p r o d u c t o -->

                    <div class="contenedora-img-list">
                        <% for( let index=0; index < producto.imagenes.length; index++ ) { %>
                            <img onclick="document.getElementById('imagen-principal').setAttribute('src','/images/<%= producto.imagenes[index].name %>')"
                                src="/images/<%= producto.imagenes[index].name %>" class="list">
                            <% } %>
                    </div>
                    <!-- I m a g e n    p r i n c i p a l -->
                    <div class="contenedora-img-principal">
                        <img class="imagen-principal" id="imagen-principal" src="/images/<%= producto.imagenes[0].name %>"
                            alt="">
                    </div>
                    <!-- N o m b r e    p r o d u c t o -->
                    <div class="contenedora-product-descrip mb-3">
                        <div class="product-color">
                            <span>Color:</span>
                            <% for( let index=0; index < producto.imagenes.length; index++ ) { %>
                                <input class="product-color-input" type="radio" name="color" value="color1">
                                <img class="product-color-img" src="/images/<%= producto.imagenes[index].name %> " alt="">
                                <% } %>
                        </div>
                        <h3>
                            <%= producto.name %>
                        </h3>
                        <div class="contenedor-precio-opcion">
                            <div class="product-precio-cuota">
                                <span class="product-precio">$ <%= producto.price %></span>
                                <span class="product-cuota">En <%= producto.cuotas %>x $ <%= (producto.price /
                                            producto.cuotas).toFixed(0) %></span>
                            </div>
                            <div class="product-envio">
                                <i class="fas fa-truck"></i>
                                <span><a href="#">calcular envio</a></span>
                                <div>
                                    <span class="p-cantidad">cantidad: 1 unidad </span> <span>(99 disponibles)</span>
                                </div>
                            </div>
                            <div class="product-financiamiento mb-3">
                                <button class="product-ver-opciones">
                                    <i class="far fa-credit-card"></i>
                                    Ver más opciones de financiación
                                </button>
                            </div>
                        </div>

                        <div class="product-comprar-ahora">
                            <button class="boton-compra">Comprar ahora</button>
                        </div>
                        <div class="product-carrito">
                            <button class="product-carrito-boton">Agregar al carrito</button>
                        </div>

                    </div>
                </div>
                <!-- D e s c r i p c i ó n -->
                <div class="product-descrip">
                    <h4>Descripción</h4>
                    <p class = "description">
                        <%= producto.description %>
                    </p>
                </div>
                <!-- C a r o u s e l   P r o d u c t o s -->
                <h4 class="product-destacado-h4">Productos Destacados</h4>
                <div class="relacionados">
                    <div class="glider-contain">
                        <div class="glider">
                            <% relacionados.forEach(producto=> { %>

                                <div class="contenedor-relacionados">
                                    <a href="/products/detail/<%= producto.id %>"><img class="producto-relacionado"
                                            src="/images/<%= producto.imagenes[0].name %>" alt=""></a>
                                </div>
                                <% }) %>
                        </div>
                        <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
           <script src = "/javascripts/glider.js"></script>  <!-- va primer glider.js-->
            <script src = "/javascripts/productDetail.js"></script>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
    </body>

</html>