<!doctype html>
<html lang="es">

<!-- head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- h e a d e r -->
        <%- include('./partials/header.ejs') %>

            <main>


                <section class="container">
                    <h3 class="font-weight-bold">Acceso</h3>
                    <form id="form-login" action="" method="POST">

                        <!-- Grupo: Correo electronico -->
                        <div class="form-group mb-3">
                            <label for="email" class="font-weight-bold">Correo electrónico </label>
                            <input type="email" name="email" class="form-control <%= locals.errors && locals.errors.email ? 'is-invalid' : null %>"
                                placeholder="Ingresa tu correo electrónico" id="email">
                            <span id="error-email" class="text-danger small"><%= locals.errors && locals.errors.email ? errors.name.msg : null %></span>
                        </div>

                        <!-- Grupo: Contraseña -->
                        <div class="form-group mb-3">
                            <label for="contraseña" class="font-weight-bold">Contraseña </label>
                            <input type="password" name="password" class="form-control <%= locals.errors && locals.errors.password ? 'is-invalid' : null %>" placeholder="Tu contraseña"
                                id="password">
                            <span id="error-password" class="text-danger small"><%= locals.errors && locals.errors.password ? errors.name.msg : null %></span>
                        </div>
                        <span class="text-danger"> <%= locals.errores && errores.email ? errores.email.msg : null %>   </span>
                        <!-- RECORDAR USUARIO -->
                        <div class="form-check mb-3">
                            <input type="checkbox" name="recordar" class="form-check-input" value="on"
                                id="flexCheckChecked" >
                            <label class="form-check-label" for="recordar">
                                Recuerdame
                            </label>
                        </div>
                        <span id="error-campos-vacios" class="text-danger small"><%= locals.errors && locals.errors.password ? errors.name.msg : null %></span>

                        <!-- LOGIN  -->
                        <div class="mb-3">

                            <button type="submit" class="btn btn-primary btn-sm">Iniciar</button>

                        </div>
                        

                        <!-- ENLACE A RESTABLECER CONTRASEÑA-->

                        <div class="mb-3 text-center">
                            <a href="#" target="_blank">Olvidé mi contraseña</a>
                        </div>

                        <!-- ENLACE A REGISTRO-->

                        <div class="form-group mb-3 c text-center">
                            <p>¿No tienes cuenta? <a href="/users/register">Registrate</a> </p>
                        </div>

                        <!-- BOTON FACEBOOK-->

                        <div class="facebook mb-3">
                            <button class="btn btn-primary btn-sm btn-block">Iniciar sesión con Facebook</button>
                        </div>

                        <!-- BOTON GOOGLE -->

                        <div class="google mb-3">
                            <button class="btn btn-primary btn-sm btn-block">Iniciar sesión con Google</button>
                        </div>
                    </form>

                </section>



            </main>



           <!-- Footer -->
   <%- include('./partials/footer.ejs') %>



            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

            <script src = "/javascripts/loginValidator.js"></script>





    </body>

</html>