<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body class="productAdd">

    <%- include('./partials/header')  %> 

    <section class="container">
        <div class="formulario mt-5">
          <h2>Agregar Producto</h2>
          
            <form action="/products/add" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label" >Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <%if (locals.errors && errors.name){%>
                      <p style="color: red;"> <%=errors.name.msg%> </p>
                  <%}%>
                  </div>

                  <div class="mb-3">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                    <%if (locals.errors && errors.description){%>
                      <p style="color: red;"> <%=errors.description.msg%> </p>
                  <%}%>
                  </div>

                  <div class = "mb-3">
                    <label for="images" class = "form-label">Imagen</label>
                    <input type="file" class ="form control" id = "images" name = "images" multiple>
                    <%if (locals.errors && errors.images){%>
                      <p style="color: red;"> <%=errors.images.msg%> </p>
                  <%}%>
                </div>

                <div class="mb-3 categorias">
                <label for="categoryId" class="form-label">Categoría</label>
                <select name="categoryId" id="categoryId" >
                  <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>" <%= locals.old && old.categoryId === categoria.id ? 'selected' : null%> ><%= categoria.name %></option>
                   <% }) %>
              </select>
              <%if (locals.errors && errors.category){%>
                <p style="color: red;"> <%=errors.category.msg%> </p>
            <%}%>
                </div>

              
                  <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price">
                    <%if (locals.errors && errors.price){%>
                      <p style="color: red;"> <%=errors.price.msg%> </p>
                  <%}%>
                  </div>

                  <div class="mb-3">
                    <label for="cuotas" class="form-label">Cuotas</label>
                    <input type="number" class="form-control" id="cuotas" name="cuotas">
                    <%if (locals.errors && errors.cuotas){%>
                      <p style="color: red;"> <%=errors.cuotas.msg%> </p>
                  <%}%>
                  </div>

                  <div class="mb-3">
                    <label for="stock" class="form-label">stock</label>
                    <input type="text" class="form-control" id="stock" name="stock" >
                    <%if (locals.errors && errors.stock){%>
                      <p style="color: red;"> <%=errors.stock.msg%> </p>
                  <%}%>
                  </div>
                  
                  <button class="btn btn-primary" type="submit">Guardar</button>

            </form>
        </div>
    </section>


     <!-- Footer -->
     <%- include('./partials/footer.ejs') %>





</body>
</html>