<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <section class="container">
        <div class="formulario mt-5">
          <h2>Editar <%= producto.name %>
          </h2>
            <div class="mb-3">
              <label for="images" class="form-label"> Imagenes </label>
             <div id="preview" class="contenedor-imgs">   <!-- mb-3 d-flex justify-content-between --> 
                <% producto.imagenes.forEach((imagen,index)=> { %>
                  <div class="div-img">
                    <img class="imagen-edit"  src="/images/<%= imagen.name %> " alt="">
                    <div class = "div-eliminar-edit">
                      <a onclick="deleteImages('<%=imagen.id%>')" class="btn-img-edit">Eliminar</a>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>

            <div class="mb-3 d-flex justify-content-around m-5">
              <label for="images" class="btn-add-edit">Agregar Imagenes</label><!-- btn btn-outline-success btn- p-1 -->
              <input hidden type="file" class="form-control" id="images" name="images" accept="images/*"
                onchange="addImages('<%=producto.id%>',this.files)" multiple>
            </div>


          <form action="/products/edit/<%=producto.id %>?_method=PUT" method="POST" id="form-productEdit"
              name="form-productEdit" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="name" class="form-label"> Nombre </label>
                <input type="text" class="form-control <%=locals.errors && errors.name ? 'is-invalid' : null %>" id="name"
                  name="name" value="<%= producto.name %>">
                <span id="errorName" class="text-danger small">
                  <%= locals.errors && locals.errors.name ? errors.name.msg : null %>
                </span>
              </div>
            <div class="mb-3">
              <label for="description">Descripción</label>
              <textarea class="form-control <%=locals.errors && errors.description ? 'is-invalid' : null %>"
                id="description" name="description"><%= producto.description %> </textarea>
              <span id="errorDescription" class="text-danger small">
                <%= locals.errors && locals.errors.description ? errors.description.msg : null %>
              </span>
            </div>
            <div class="mb-3 categorias">
              <label for="categoryId" class="form-label">Categoría</label>
              <select class="form-control" name="categoryId" id="categoryId">
                <% categorias.forEach(categoria=> { %>
                  <option value="<%= categoria.id %>" <%=locals.old && old.categoryId===categoria.id ? 'selected' :
                    null%> ><%= categoria.name %>
                  </option>
                  <% }) %>
              </select>
              <span id="errorCategoria" class="text-danger small">
                <%= locals.errors && locals.errors.categoria ? errors.categoria.msg : null %>
              </span>
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control <%=locals.errors && errors.price ? 'is-invalid' : null %>"
                id="price" name="price" value="<%=producto.price%>">
              <span id="errorPrice" class="text-danger small">
                <%= locals.errors && locals.errors.price ? errors.price.msg : null %>
              </span>
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" class="form-control <%=locals.errors && errors.stock ? 'is-invalid' : null %>"
                id="stock" name="stock" value="<%=producto.stock%>">
              <span id="errorStock" class="text-danger small">
                <%= locals.errors && locals.errors.stock ? errors.stock.msg : null %>
              </span>
            </div>
            <div class="mb-3">
              <label for="cuotas" class="form-label">Cuotas</label>
              <input type="number" class="form-control <%=locals.errors && errors.cuotas ? 'is-invalid' : null %>"
                id="cuotas" name="cuotas" value="<%= producto.cuotas %>">
              <span id="errorCuotas" class="text-danger small">
                <%= locals.errors && locals.errors.cuotas ? errors.cuotas.msg : null %>
              </span>
            </div>
            <span id="errorEmpty" class="text-danger small">
              <%= locals.errors && locals.errors ? errors.msg : null %>
            </span>
            <!-- aca boton agregar -->

            <div>
              <span id="errorImages" class="text-danger small">
                <%= locals.errors && locals.errors.images ? errors.images.msg : null %>
              </span>
            </div>
            <button class="btn btn-primary" type="submit">Guardar</button>
          </form>

        </div>
      </section>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
        <script src="/javascripts/productEditValidation.js"></script>
        <script src="/javascripts/productImage.js">
        </script>

  </body>

</html>