<!doctype html>
<html lang="es">

<!-- head -->
<%- include('./partials/head.ejs') %>

<body>
   <!-- h e a d e r -->
   <%- include('./partials/header.ejs') %>


    <main>

        <section class="container">
            <h3 class="font-weight-bold">Crea tu cuenta </h3>
            <p class="text-muted mb-5">Los campos marcados con <span class="text-danger">*</span> son requeridos</p>

            <form action="/users/register" method="POST">

                <!-- Grupo: Nombre y Apellido -->
                <div class="row g-3 mb-2">
                    <div class="form-group col-md-6">
                        <label for="name" class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                        <input type="text" name="name" class="form-control" placeholder="Tu nombre" id="name">
                        <%if (locals.errors && errors.name){%>
                            <p style="color: red;"> <%=errors.name.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname" class="font-weight-bold">Apellido <span
                                class="text-danger">*</span></label>
                        <input type="text" name="surname" class="form-control" placeholder="Tu apellido" id="surname">
                        <%if (locals.errors && errors.surname){%>
                            <p style="color: red;"> <%=errors.surname.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div>
                </div>
                <!-- Grupo: Correo electronico -->
                <div class="form-group mb-3">
                    <label for="email" class="font-weight-bold">Correo electrónico <span
                            class="text-danger">*</span></label>
                    <input type="email" name="email" class="form-control" placeholder="Ingresa tu correo electrónico"
                        id="email">
                        <%if (locals.errors && errors.email){%>
                            <p style="color: red;"> <%=errors.email.msg%> </p>
                        <%}%>
                    <span> </span>
                </div>
                <!-- Grupo: Contraseña -->
                <div class="row g-3 mb-2">
                    <div class="form-group col-md-6">
                        <label for="password" class="font-weight-bold">Contraseña<span
                                class="text-danger">*</span></label>
                        <input type="password" name="password" class="form-control" placeholder="Tu contraseña"
                            id="password">
                        <%if (locals.errors && errors.password){%>
                                <p style="color: red;"> <%=errors.password.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password2" class="font-weight-bold"> Repetir Contraseña <span
                                class="text-danger">*</span></label>
                        <input type="password" name="password2" class="form-control"
                            placeholder="Repeti tu contraseña" id="password2">
                        <%if (locals.errors && errors.password2){%>
                                <p style="color: red;"> <%=errors.password2.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div>
                </div>
                <!-- Grupo: Fecha de nacimiento y Genero -->
                <div class="row g-3 mb-2">
                    <div class="form-group col-md-6">
                        <label for="date" class="font-weight-bold"> Fecha de nacimiento <span
                                class="text-danger">*</span></label>
                        <input type="date" name="date" class="form-control" placeholder="dd/mm/aaaa" id="date">
                        <%if (locals.errors && errors.date){%>
                            <p style="color: red;"> <%=errors.date.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="gender" class="font-weight-bold"> Genero<span class="text-danger">*</span></label>
                        <input list="gender" name="gender" type="text" class="form-control" placeholder="select"
                            id="gender">
                        <datalist id="gender">
                            <option value="Masculino"></option>
                            <option value="Femenino"></option>
                        </datalist>
                        <%if (locals.errors && errors.gender){%>
                            <p style="color: red;"> <%=errors.gender.msg%> </p>
                        <%}%>
                        <span> </span>
                    </div> 





                    <!-- recaptcha -->
                    <form action="?" method="POST">
                        <div class="g-recaptcha" data-sitekey=" 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

                    </form>


                    <!-- BOTON -->
                    <div>
                        <button class="btn btn-primary btn-sm ">Regístrarse</button>

                    </div>



            </form>

        </section>

    </main>



    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>


        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>




</body>

</html>